<mat-card class="card">
    <mat-card-header>
        
        <mat-card-title class="sub-card">
            {{item.name}}
        </mat-card-title>
        <button class="button-margin" class="primary" (click)="openAddDialog()">-/+</button>
    
    </mat-card-header>
    
        <img class="card-image" mat-card-image src="{{item.image}}">
    
    <mat-card-footer>
        <mat-card class="sub-card">
        Quantity: {{item.quantity}} {{item.measurement}} |
        Calories per quantity: {{item.calories}} |
        Weight per quantity: {{item.weight}} oz
    </mat-card>
    </mat-card-footer>
    <mat-card-actions>
        <button mat-fab color="primary" (click)="this.openEditDialog()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="warn" (click)="this.ui.deleteItem(item)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>