<mat-toolbar color="primary" class="toolbar">
    Edit User<button id="align-right" mat-flat-button color="warn" (click)="this.ui.goHome()">Back</button>
</mat-toolbar>
<mat-form-field>
    <mat-label>
        Username
    </mat-label>
    <input matInput required value="{{this.usernameInput}}" type="text" #username>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>
        Password
    </mat-label>
    <input matInput required type="password" #password>
</mat-form-field>
<br>
<button mat-flat-button color="primary" (click)="updateUser(username.value, password.value)">Submit</button>