<mat-card class="card">
    <mat-card-header>
        <mat-card-title class="sub-card">
            Register
        </mat-card-title>
    </mat-card-header>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput required type="text" #username/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput required type="password" #password/>
    </mat-form-field>
<mat-card-actions>
<button class="primary" (click)="register(username.value, password.value)">Register</button>
<button class="primary" (click)="this.ui.goHome()">Home</button>
</mat-card-actions>
</mat-card>