<mat-toolbar color="primary" class="toolbar">
    <span>Welcome to your Pantry!</span>
    <button mat-flat-button color="primary" (click)="ui.showNewItem()">Add an Item</button>
    <button mat-flat-button color="primary" (click)="ui.showCookedRecipes()">All Cooked Recipes</button>
    <button mat-flat-button color="primary" (click)="ui.showUsers()">Users List</button>
    <div id="align-right">
        <button mat-flat-button color="accent" (click)="ui.showLogin()">Login</button>
        <button mat-flat-button color="accent" (click)="ui.showRegister()">Register</button>
    </div>
</mat-toolbar>
