<h2 class="sub-card" mat-dialog-title>Edit Item</h2>
<mat-dialog-content class="sub-card">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required type="text" #name [value]="this.data.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput required type="url" #image [value]="this.data.image">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput required type="text" #description [value]="this.data.description">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="sub-card" align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="updateCookedRecipe(name.value, image.value, description.value)">Submit</button>
</mat-dialog-actions>