<mat-toolbar color="primary" class="toolbar">
    New Item <button id="align-right" mat-flat-button color="warn" (click)="this.ui.goHome()">Back</button>
</mat-toolbar>
<mat-form-field>
    <mat-label>Name</mat-label>
    <input required matInput type="text" #name>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Image URL</mat-label>
    <input required matInput type="text" #image>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Quantity</mat-label>
    <input required matInput type="number" [(ngModel)]="quantity">
</mat-form-field>
<mat-form-field>
    <mat-label>Measurement</mat-label>
    <mat-select matInput required [(value)]="selectedMeasurement" (selectionChange)="updateMeasurement(selectedMeasurement)">
        <mat-option *ngFor="let meas of measurements" [value]="meas">{{meas}}</mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Calories per quantity</mat-label>
    <input required matInput type="number" [(ngModel)]="calories">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Weight per quantity</mat-label>
    <input required matInput type="number" [(ngModel)]="weight">
</mat-form-field>
<button mat-flat-button color="primary" (click)="postItem(name.value, image.value)">Submit</button>
