<mat-toolbar color="primary" class="toolbar">
    Sort Items by:
    <table matSort (matSortChange)="ui.sortItems($event)" class="space">
        <tr>
            <th mat-sort-header="name">Name</th>
            <th mat-sort-header="calories">Calories</th>
            <th mat-sort-header="weight">Weight</th>
            <th mat-sort-header="quantity">Quantity</th>
        </tr>
    </table>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput type="text" #filter (keyup)="ui.applyFilter($event)">
    </mat-form-field>
</mat-toolbar>