<mat-toolbar color="primary" class="toolbar">
    Cooked Recipes
    <mat-toolbar color="primary" class="toolbar">
        Sort Cooked Recipes by:
        <table matSort (matSortChange)="ui.sortCookedRecipes($event)" class="space">
            <tr>
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="calories">Calories</th>
                <th mat-sort-header="weight">Weight</th>
            </tr>
        </table>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput type="text" #filter (keyup)="ui.applyCookedRecipeFilter($event)">
        </mat-form-field>
    </mat-toolbar>
    <button id="align-right" class="warn" (click)="this.ui.goHome()">Back</button>
</mat-toolbar>
<app-cooked-recipe *ngFor="let cookedRecipe of this.ui.cookedRecipeDataSource.filteredData" [cookedRecipe]="cookedRecipe"></app-cooked-recipe>