<mat-toolbar color="primary" class="toolbar">
    {{this.ui.currentUser.username}}'s Recipes 
    <mat-toolbar color="primary" class="toolbar">
        Sort Recipes by:
        <table matSort (matSortChange)="ui.sortRecipes($event)" class="space">
            <tr>
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="calories">Calories</th>
                <th mat-sort-header="weight">Weight</th>
            </tr>
        </table>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput type="text" #filter (keyup)="ui.applyRecipeFilter($event)">
        </mat-form-field>
        
    </mat-toolbar>
    <div id="align-right">
    <button class="accent" (click)="ui.showNewRecipe()">New Recipe</button>
    <button class="warn" (click)="this.ui.goHome()">Back</button>
</div>
</mat-toolbar>
<div>
<app-recipe *ngFor="let r of this.ui.recipeDataSource.filteredData" [recipe]="r"></app-recipe>
</div>