<mat-toolbar color="primary" class="toolbar">
    {{this.ui.currentUser.username}}'s Recipes 
    <mat-toolbar color="primary" class="toolbar">
        Sort Recipes by:
        <table matSort (matSortChange)="ui.sortRecipes($event)" class="space">
            <tr>
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="calories">Calories</th>
                <th mat-sort-header="weight">Weight</th>
            </tr>
        </table>
    </mat-toolbar>
    <button id="align-right" mat-flat-button color="warn" (click)="this.ui.goHome()">Back</button>
</mat-toolbar>
<div>
<app-recipe *ngFor="let r of this.ui.currentUser.recipes" [recipe]="r"></app-recipe>
</div>