<mat-card class="card">
    <mat-card-header>
        <mat-card-title class="sub-card">
            {{cookedRecipe.name}}
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="smaller-img" src={{cookedRecipe.image}} alt="recipe image">
    <br>
    <mat-card-content>
        <mat-card class="sub-card">
        {{cookedRecipe.description}}
    </mat-card>
    </mat-card-content>
    <br>
    <mat-card-footer align="right" class="sub-card">{{cookedRecipe.calories}} calories | {{cookedRecipe.weight}} lbs</mat-card-footer>
    <mat-card-actions>
        <div id="align-right">
        <button mat-flat-button color="primary" (click)="this.openDialog()">Edit</button>
        <button mat-flat-button color="primary" (click)="this.ui.deleteCookedRecipe(cookedRecipe)">Eat</button>
    </div>
    </mat-card-actions>
</mat-card>