

.fit-content {
    height: fit-content;
    background-image: url("https://i.imgur.com/AmqDfNf.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.full-height {
    height: 100%;
    background-image: url("https://i.imgur.com/AmqDfNf.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}