<div class="fit-content">
<div *ngIf="ui.pageName==page.HOME">
  <app-header *ngIf="ui.loggedIn==false"></app-header>
  <app-user-header *ngIf="ui.loggedIn==true"></app-user-header>
  <app-item-sort-header></app-item-sort-header>
  <app-item *ngFor="let item of ui.dataSource.filteredData" [item]="item"></app-item>
</div>
<app-new-recipe *ngIf="ui.pageName==page.NEWRECIPE"></app-new-recipe>
<app-recipes *ngIf="ui.pageName==page.RECIPES"></app-recipes>
<app-cooked-recipes *ngIf="ui.pageName==page.COOKEDRECIPES"></app-cooked-recipes>
</div>
<div class="full-height">
<app-login *ngIf="ui.pageName==page.LOGIN"></app-login>
<app-register *ngIf="ui.pageName==page.REGISTER"></app-register>
<app-new-item *ngIf="ui.pageName==page.NEWITEM"></app-new-item>
<app-edit-user *ngIf="ui.pageName==page.EDITUSER"></app-edit-user>
<app-users *ngIf="ui.pageName==page.USERS"></app-users>
</div>
