.background {
    background-image: url("https://i.imgur.com/AmqDfNf.jpg");
    background-attachment: fixed;
    height: 130%;
    background-position: center;
    background-size: cover;
    
    background-repeat: no-repeat;
}

body, html {
    height: 100%
}

