<mat-card class="card">
    <mat-card-header>
        <mat-card-title class="sub-card">
            Login
        </mat-card-title>
    </mat-card-header>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput required type="text" #username/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput required type="password" #password/>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="attemptLogin(username.value, password.value)">Login</button>
    <button mat-flat-button color="primary" (click)="this.ui.showRegister()">Register</button>
    <button mat-flat-button color="primary" (click)="this.ui.goHome()">Back</button>
</mat-card>