<mat-card class="card">
    <mat-card-header>
        <mat-card-title class="sub-card">{{recipe.name}}</mat-card-title>
        <button id="align-right" mat-flat-button color="primary" (click)="openEditRecipeDialog()">Edit</button>
    </mat-card-header>
    <img mat-card-image class="smaller-img" src={{recipe.image}} alt="recipe image">
    <br>
    <mat-card-content>
    <mat-card class="sub-card">
        {{recipe.description}}
    </mat-card>
    </mat-card-content>
    <br>
    <mat-card-content>
        <mat-card class="sub-card"><h4>Ingredients:</h4></mat-card>
        
        <mat-card class="sub-card" *ngFor="let i of recipe.ingredients">- {{i.quantity}} {{i.measurement}} of {{i.name}}</mat-card>
    </mat-card-content>
    <br>
    <mat-card-content>
        <mat-card class="sub-card"><h4>Steps:</h4></mat-card>
        <mat-card class="sub-card" *ngFor="let s of this.steps">{{this.steps.indexOf(s) + 1}}. {{s}}</mat-card>
    </mat-card-content>
    <br>
    <mat-card-footer align="right" class="sub-card">
        {{recipe.totalCalories}} calories | {{recipe.totalWeight}} oz
    </mat-card-footer>
    <mat-card-actions>
        <div id="align-right">
        <button mat-flat-button color="warn" (click)="deleteRecipe()">Delete</button>
        <button mat-flat-button color="primary" (click)="cook()">Cook this Recipe</button>
    </div>
    </mat-card-actions>
</mat-card>