.toolbar {
    height: 5rem;
}
.card {
    background-color: rgb(255, 224, 171);
    width: 10rem;
    margin: 1rem;
    display: inline-block;
}

#align-right {
    display: flex;
    margin-left: auto;
}