.toolbar {
    height: 5rem;
}
.card {
    background-color: rgb(255, 224, 171);
    width: 7rem;
    margin: 4px;
    display: inline-block;
    text-align: center;
}

#align-right {
    display: flex;
    margin-left: auto;
}